a:active {
    color: violet;
}

input:focus {
    
    background-color: silver;
}

a:hover {
    color: rgb(0, 255, 76);
}

a:visited {
    color: rgb(214, 20, 221);
}   

a:link {
    color: rgb(16, 140, 172);
}

input:required {
    border: 2px solid red;
}

input:valid {
    border: 2px solid green;
}

p::first-letter {
    color: red;
    font-size: 200%;
}